<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Task</title>
</head>
<body>

    <h1>Add New Task</h1>

    <form method="POST" action="{% url 'add_item' %}">
        {% csrf_token %}
        
        <label for="S_No">S_No:</label><br>
        <input type="number" id="S_No" name="S_No" required><br><br>

        <label for="Items">Items:</label><br>
        <input type="text" id="Items" name="Items" required><br><br>

        <button type="submit">Add Item</button>
    </form>

    <br>
    <a href="{% url 'task_list' %}"><button>Back to Task List</button></a>

</body>
</html>
